[[headers]]
  for = "/robots.txt"
  [headers.values]
    Content-Type = "text/plain"

[[headers]]
  for = "/sitemap.xml"
  [headers.values]
    Content-Type = "application/xml"

[[redirects]]
  from = "/*"
  to = "/index.html"

[build]
  command = "cd src && npm ci && npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"
