[[redirects]]
  from = "/sitemap.xml"
  to = "/sitemap.xml"
  status = 200
  force = false

[[redirects]]
  from = "/robots.txt"
  to = "/robots.txt"
  status = 200
  force = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "cd src && npm ci && npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"
